In [26]:
import sys, os
sys.path.append('..')

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import preprocess

In [32]:
orig_df = pd.read_csv('../data/exhibition_behavior_preprocessed.csv', delimiter=',', index_col=False)

In [33]:
orig_df

,uid,date,filename,start,duration,A/C,behavior,code,M/F,appearance
0,0,11월 19일,01_20221119085958_part2,56240,2720,Child,물리적거리,Approach,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
1,0,11월 19일,01_20221119085958_part2,59360,2960,Child,상호작용시도,None,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
2,0,11월 19일,01_20221119085958_part2,71420,5520,Child,물리적거리,Approach,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
3,0,11월 19일,01_20221119085958_part2,77400,6320,Child,상호작용시도,None,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
4,1,11월 19일,01_20221119085958_part2,48240,9240,Child,물리적거리,Approach,Male,"검정색 점퍼, 청바지, 검정/흰색 운동화"
...,...,...,...,...,...,...,...,...,...,...
2682,371,12월 4일,01_20221204165959_part1,2567280,17280,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지"
2683,371,12월 4일,01_20221204165959_part1,2893760,14160,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지"
2684,372,12월 4일,01_20221204165959_part1,2567280,18080,Adult,물리적거리,Pass,Male,"검은색 롱패딩, 검은색 바지"
2685,373,12월 4일,01_20221204165959_part2,15760,13840,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지"
2686,374,12월 4일,01_20221204165959_part2,404640,7280,Adult,물리적거리,Pass,Male,"검은색 롱패딩, 검은색 바지"

# 1. 전처리할 데이터 만들기

In [34]:
orig_df = preprocess.indexing(orig_df)
orig_df = preprocess.reindex(orig_df)

    uid     date                 filename   start  duration    A/C behavior  \
0     0  11월 19일  01_20221119085958_part2   56240      2720  Child    물리적거리
1     0  11월 19일  01_20221119085958_part2   59360      2960  Child   상호작용시도
2     0  11월 19일  01_20221119085958_part2   71420      5520  Child    물리적거리
3     0  11월 19일  01_20221119085958_part2   77400      6320  Child   상호작용시도
4     1  11월 19일  01_20221119085958_part2   48240      9240  Child    물리적거리
5     1  11월 19일  01_20221119085958_part2   56640     15600  Child   상호작용시도
6     1  11월 19일  01_20221119085958_part2   71200      5920  Child    물리적거리
7     1  11월 19일  01_20221119085958_part2   77400      6360  Child   상호작용시도
8     2  11월 19일  01_20221119085958_part2    3000     21040  Child    물리적거리
9     2  11월 19일  01_20221119085958_part2  238160      4160  Child    물리적거리
10    2  11월 19일  01_20221119085958_part2  242320      7760  Child   상호작용시도
11    3  11월 19일  01_20221119085958_part2  233440      6560  Child    물리적거리
12    4  11월 19일  01_20221119085958_part2  103800     19440  Adult    물리적거리
13    5  11월 19일  01_20221119085958_part2   47920      8640  Adult    물리적거리
14    5  11월 19일  01_20221119085958_part2   56480     16480  Adult   상호작용시도
15    5  11월 19일  01_20221119085958_part2   71200      6000  Adult    물리적거리
16    5  11월 19일  01_20221119085958_part2   77200      6640  Adult   상호작용시도
17    6  11월 19일  01_20221119085958_part2   73280      6640  Adult    물리적거리
18    7  11월 19일  01_20221119085958_part2  161920     11760  Adult    물리적거리
19    8  11월 19일  01_20221119085958_part2  162400     12200  Adult    물리적거리

        code     M/F                      appearance  pid
0   Approach  Female          포니테일, 아이보리색 점퍼, 검정색 바지    0
1       None  Female          포니테일, 아이보리색 점퍼, 검정색 바지    0
2   Approach  Female          포니테일, 아이보리색 점퍼, 검정색 바지    1
3       None  Female          포니테일, 아이보리색 점퍼, 검정색 바지    1
4   Approach    Male          검정색 점퍼, 청바지, 검정/흰색 운동화    2
5       None    Male          검정색 점퍼, 청바지, 검정/흰색 운동화    2
6   Approach    Male          검정색 점퍼, 청바지, 검정/흰색 운동화    3
7       None    Male          검정색 점퍼, 청바지, 검정/흰색 운동화    3
8       Pass    Male      검정 마스크, 흰색 후리스, 회색 트레이닝 바지    4
9   Approach    Male      검정 마스크, 흰색 후리스, 회색 트레이닝 바지    5
10      None    Male      검정 마스크, 흰색 후리스, 회색 트레이닝 바지    5
11      Pass    Male          흰색 마스크, 연두색 후리스, 흰색 바지    6
12      Pass    Male            검정색 점퍼, 청바지, 검은색 운동화    7
13  Approach  Female         검정 핸드백, 흰색 점퍼, 아이보리색 바지    8
14      None  Female         검정 핸드백, 흰색 점퍼, 아이보리색 바지    8
15  Approach  Female         검정 핸드백, 흰색 점퍼, 아이보리색 바지    9
16      None  Female         검정 핸드백, 흰색 점퍼, 아이보리색 바지    9
17      Pass  Female            크로스백, 회색 맨투맨, 검정색 바지   10
18      Pass  Female  흰색 맨투맨, 검정 바지, 적색 점퍼 입은 아이와 동행   11
19      Pass  Female                  초록색 맨투맨, 검정 바지   12

In [35]:
scores = {'Pass': 1, 'Follow': 2, 'Avoid': 2, 'Approach': 3, 
          'None': 4, 'Touch': 5, 'Gesture': 5}
orig_df = preprocess.map_code_score(orig_df, scores)

In [36]:
orig_df

,uid,pid,date,filename,start,duration,A/C,behavior,code,M/F,appearance,code_score
0,0,0,11월 19일,01_20221119085958_part2,56240,2720,Child,물리적거리,Approach,Female,"포니테일, 아이보리색 점퍼, 검정색 바지",3
1,0,0,11월 19일,01_20221119085958_part2,59360,2960,Child,상호작용시도,None,Female,"포니테일, 아이보리색 점퍼, 검정색 바지",4
2,0,1,11월 19일,01_20221119085958_part2,71420,5520,Child,물리적거리,Approach,Female,"포니테일, 아이보리색 점퍼, 검정색 바지",3
3,0,1,11월 19일,01_20221119085958_part2,77400,6320,Child,상호작용시도,None,Female,"포니테일, 아이보리색 점퍼, 검정색 바지",4
4,1,2,11월 19일,01_20221119085958_part2,48240,9240,Child,물리적거리,Approach,Male,"검정색 점퍼, 청바지, 검정/흰색 운동화",3
...,...,...,...,...,...,...,...,...,...,...,...,...
2682,371,1116,12월 4일,01_20221204165959_part1,2567280,17280,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지",1
2683,371,1117,12월 4일,01_20221204165959_part1,2893760,14160,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지",1
2684,372,1118,12월 4일,01_20221204165959_part1,2567280,18080,Adult,물리적거리,Pass,Male,"검은색 롱패딩, 검은색 바지",1
2685,373,1119,12월 4일,01_20221204165959_part2,15760,13840,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지",1
2686,374,1120,12월 4일,01_20221204165959_part2,404640,7280,Adult,물리적거리,Pass,Male,"검은색 롱패딩, 검은색 바지",1

In [44]:
df = orig_df[['pid', 'duration', 'A/C', 'M/F', 'code', 'code_score']]

In [43]:
def make_data(df):
    df = df.groupby('pid').agg({'code': list, 'duration': list, 'code_score': list, 'A/C': 'first', 'M/F': 'first'})
    df = df.drop(df[df['code'].apply(lambda x: len(x) <= 1)].index)
    df['code_count'] = [len(x) for x in df['code']]
    df.reset_index(inplace=True)
    return df

In [45]:
df = make_data(df)

In [46]:
df

,pid,code,duration,code_score,A/C,M/F,code_count
0,0,"[Approach, None]","[2720, 2960]","[3, 4]",Child,Female,2
1,1,"[Approach, None]","[5520, 6320]","[3, 4]",Child,Female,2
2,2,"[Approach, None]","[9240, 15600]","[3, 4]",Child,Male,2
3,3,"[Approach, None]","[5920, 6360]","[3, 4]",Child,Male,2
4,5,"[Approach, None]","[4160, 7760]","[3, 4]",Child,Male,2
...,...,...,...,...,...,...,...
684,1108,"[Approach, None, Gesture, None]","[7680, 5200, 2800, 2400]","[3, 4, 5, 4]",Child,Male,4
685,1109,"[Approach, None, Gesture, None, Gesture, None]","[5360, 45360, 1840, 36400, 6320, 62800]","[3, 4, 5, 4, 5, 4]",Child,Male,6
686,1110,"[Approach, None]","[3840, 11680]","[3, 4]",Child,Male,2
687,1111,"[Approach, None]","[4800, 16480]","[3, 4]",Child,Male,2
688,1114,"[Approach, Touch]","[12640, 4800]","[3, 5]",Child,Male,2

# 2. engagement score 계산하기

In [47]:
def cal_engagement_score(df):
    engagement_scores = []
    for i in df.index:
        engagement_score = []
        for code_score, time_ratio in zip(df['code_score'][i], df['duration'][i]):
            engagement_score.append(code_score * time_ratio)
        engagement_scores.append(sum(engagement_score))

    df['engagement_score'] = engagement_scores

    return df

In [49]:
df = cal_engagement_score(df)

In [51]:
df = preprocess.normalize(df, 'engagement_score')

In [52]:
df

,pid,code,duration,code_score,A/C,M/F,code_count,engagement_score,norm_engagement_score
0,0,"[Approach, None]","[2720, 2960]","[3, 4]",Child,Female,2,20000,1.253851
1,1,"[Approach, None]","[5520, 6320]","[3, 4]",Child,Female,2,41840,3.209859
2,2,"[Approach, None]","[9240, 15600]","[3, 4]",Child,Male,2,90120,7.533854
3,3,"[Approach, None]","[5920, 6360]","[3, 4]",Child,Male,2,43200,3.331662
4,5,"[Approach, None]","[4160, 7760]","[3, 4]",Child,Male,2,43520,3.360321
...,...,...,...,...,...,...,...,...,...
684,1108,"[Approach, None, Gesture, None]","[7680, 5200, 2800, 2400]","[3, 4, 5, 4]",Child,Male,4,67440,5.502615
685,1109,"[Approach, None, Gesture, None, Gesture, None]","[5360, 45360, 1840, 36400, 6320, 62800]","[3, 4, 5, 4, 5, 4]",Child,Male,6,635120,56.344487
686,1110,"[Approach, None]","[3840, 11680]","[3, 4]",Child,Male,2,58240,4.678656
687,1111,"[Approach, None]","[4800, 16480]","[3, 4]",Child,Male,2,80320,6.656158
688,1114,"[Approach, Touch]","[12640, 4800]","[3, 5]",Child,Male,2,61920,5.008240

In [54]:
preprocess.draw_dist_level(df)

NameError: name 'df_50' is not defined